*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Courier New", monospace;
}

body{
  background:#000;
  overflow-x:hidden;
  color:#00ff88;
}

/* MATRIX */
/* MATRIX BACKGROUND */
canvas{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  z-index:-1;
}

/* SECTIONS */
section{
  min-height:100vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  padding:40px;
  position:relative;
}


.hidden{
  display:none;
}

/* BUTTON */
button{
  padding:12px 28px;
  font-size:18px;
  background:#00ff88;
  border:none;
  border-radius:8px;
  cursor:pointer;
  margin-top:30px;
  font-weight:bold;
}

/* MESSAGE CARD */
.message-card{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(8px);
  padding:40px;
  border-radius:20px;
  color:#fff;
  font-size:20px;
  line-height:1.7;
  box-shadow:0 0 30px #ff2d75;
}

/* HEARTS */
.heart{
  position:fixed;
  animation:float 6s linear infinite;
}

@keyframes float{
  from{transform:translateY(100vh);opacity:1}
  to{transform:translateY(-10vh);opacity:0}
}

/* SLIDESHOW */
.memory-section{
  position:relative;
}

.slideshow{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
  overflow:hidden;
}

.slide{
  width:100%;
  height:100%;
  object-fit:cover;
}


.timeline{
  color:#00ff88;
  font-size:22px;
  line-height:2.2;
  font-family:"Courier New", monospace;
  white-space:pre-line;
  text-shadow:0 0 10px #00ff88;
}

/* blinking cursor */
.cursor{
  display:inline-block;
  width:8px;
  background:#00ff88;
  margin-left:4px;
  animation:blink 1s infinite;
}

@keyframes blink{
  50%{opacity:0;}
}


.proposal h1{
  color:#ff2d75;
  margin-bottom:30px;
  font-size:40px;
}
